.ItemsButton {
    background-color: #ffffff;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.Button {
    background-color: #b9ccf4;
    border-width: 1px;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.SumarButton {
    font-size: 20px;
    font-weight:900;
}

.TimerButton {
    font-size: 14px;
    font-weight:500;
    padding: 15px;
}

.Button:hover {
    background-color: #9fb0d4;
}

.InactiveButton {
    color:rgb(120, 120, 120);
    font-size: 14px;
    font-weight:500;
    background-color: #d0d8e9;
    border-width: 1px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    
}

.InactiveButton:hover {
    cursor: default;
}

.MarcarVueltaButtons {
    background-color: #3b2ec9;
    color: white;
    padding: 10px;
    max-width: 300px;
    margin: auto;
    display: flex;
    color: white;
    font-weight: 500;
    padding: 10px 30px 10px 30px;
    border-radius: 5%;
    cursor: pointer;
    margin-top: 5px;
}

.SumarButtonInactive {
    color:rgb(120, 120, 120);
    background-color: #d0d8e9;
    border-width: 1px;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}