.SelectorRadioButton {
    background-color: #ffffff;
    border-style: outset;
    border-color: rgb(12, 15, 15);
    padding: 10px;
    max-width: 300px;
    margin-top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* align-items: center; */
    /* margin-top: 4px; */
    /* box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15); */
}

.Button {
    cursor: pointer;
}